body {
  font-size: var(--default-font-size);
  color: var(--text);
}

.text-base {
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 141%;
}

.semi-bold {
  font-weight: 600;
}
