.flex {
  display: flex;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-column {
  flex-flow: column nowrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
