ul {
  list-style-type: none;
  padding-left: var(--default-spacing);
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

.root-folder {
  position: relative;
  padding-top: var(--half-spacing);
  padding-bottom: var(--half-spacing);
  margin-bottom: var(--default-spacing);
  max-width: 275px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  line-height: 20px;
}

label {
  width: 100%;
  line-height: 34px;
}

.folder-header,
li.item {
  position: relative;

  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 275px;
      height: 34px;
      background: var(--hover);
      z-index: -1;
    }
  }
}
