@let rootFolders = folderTree()?.children;

<ng-template #recursiveFolders let-folders>
  <ul class="text-base">
    @for (folder of folders; track folder.id) {
      <li class="folder">
        <p class="semi-bold">
          <input type="checkbox" [id]="folder.id" class="mr-2" />
          <label [for]="folder.id">{{ folder.name }}</label>
        </p>

        <ng-container
          *ngTemplateOutlet="recursiveFolders; context: { $implicit: folder.children }"
        ></ng-container>

        <ul class="items">
          @for (item of folder.items; track item.id) {
            <li class="item">
              <input type="checkbox" [id]="item.id" class="mr-2" />
              <label [for]="item.id">{{ item.name }}</label>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</ng-template>

<section class="root-folder">
  <ng-container
    *ngTemplateOutlet="recursiveFolders; context: { $implicit: rootFolders }"
  ></ng-container>
</section>
