<ng-template #recursiveFolders let-folders>
  <ul>
    @for (folder of folders; track folder.id) {
      <li class="folder">
        <p class="folder-header flex flex-row justify-start align-center semi-bold">
          <input
            type="checkbox"
            [id]="'folder' + folder.id"
            [checked]="folder.selected"
            [indeterminate]="folder.indeterminate"
            (click)="
              $event.preventDefault();
              $event.stopPropagation();
              updateFolderSelectedState(folder.id)
            "
            class="mr-2"
          />
          <label [for]="'folder' + folder.id">{{ folder.name }}</label>
        </p>

        <ng-container
          *ngTemplateOutlet="recursiveFolders; context: { $implicit: folder.children }"
        ></ng-container>

        <ul class="items">
          @for (item of folder.items; track item.id) {
            <li class="item flex flex-row justify-start align-center">
              <input
                type="checkbox"
                [id]="'item' + item.id"
                [checked]="item.selected"
                (click)="
                  $event.preventDefault();
                  $event.stopPropagation();
                  updateItemSelectedState(item.id)
                "
                class="mr-2"
              />
              <label [for]="'item' + item.id">{{ item.name }}</label>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</ng-template>

@let rootFolders = uiFolderTree().children;
<section class="text-base">
  <div class="root-folder">
    <ng-container
      *ngTemplateOutlet="recursiveFolders; context: { $implicit: rootFolders }"
    ></ng-container>
  </div>

  <p>Selected item IDs: {{ selectedItems() }}</p>
</section>
